*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    width: 100px;
    height: 600px;;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
canvas{
    z-index: -1;
    position: relative;
    top: auto;
    border: 2px solid black;
}
span{
    display: none
}