*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats{
    position: relative;
    left: -20px;
    border: 2px solid black;
    height: 600px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.stats div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.stats div p{
    position: relative;
    font-size: 50px;
    top: -50px;
}

.stats div:last-of-type div{
    position: relative;
    font-size: 50px;
    top: -10px;
}

canvas{
    z-index: -1;
    position: relative;
    top: auto;
    border: 2px solid black;
}
span{
    display: none
}